#grid {
  border: 2px solid black;
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  background-color: rgb(240, 224, 255);
}

h1 {
  text-align: center;
  font-size: 50px;
  border-bottom: 1px solid black;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;
  background-color: antiquewhite;
}

ul {
  border-right: 1px solid black;
  width: 150px;
  height: 700px;
  font-size: 25px;
  margin: 0;
  padding-right: 15px;
  padding-top: 15px;
  color: rgb(118, 118, 118);
  list-style-type: circle;
}

h1>a {
  color: rgb(124, 26, 124);
  text-decoration: none;
}

a {
  color: rgb(124, 26, 124);
  text-decoration: none;
}

#click {
  font-size: 20px;
  margin-top: 200px;
}

ul>span {
  font-size: 30px;
  justify-content: flex-start;
}

#content {
  font-size: 25px;
}

#map {
  display: flex;
  justify-content: flex-end;
  padding-right: 100px;
}